*{
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
}
body{
	background: #2F343A;
}

header{
	height: 45px;
	background-color: #C8A35F;
	color: white;
	display: flex;
	justify-content: space-around;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	align-items: center;
}

.menu{
	background-color: #2F343A;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	}

.logoo{
	display: flex;
		flex-direction: row;
		align-items: center;
		color: white;
}

.logo{
	width:160px;
	height: 46px;
	padding-right: 20px;
	border-right: 2px solid #F2F2F2;
}

.logoo p {
	padding-left: 20px; 
}

.ofice{
	margin-left: 35px;
}

.menuo a{
	color: white;
	text-decoration: none;
	padding: 10px; 	
}

.about{
background:  url(img/Rectangle2.png);
height: 620px;
left: 0px;
top: 145px;
justify-content: center;
align-items: center;
display: flex;
}

.ab1{color:white;
	border: solid;
	border-color: #C8A35F;
	border-width: 1px;
	height: 245px;
	width: 920px;
	justify-content: space-around;
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.ab1 p {
	margin: 0px 95px 0px 95px;
}

.gruz{
	font-size: 74px;
}

.res{
	height:560px;
	width: 100%;
	z-index: -2;
}



.renc {
    background: #393F47;
    width: 765px;
    height: 560px;
}
.rcont {
    z-index: -1;
    width: 100%;
    position: absolute;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}


.text1{

}

.dff{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
	width: 445px;
	margin-bottom:30px;
}


.pp{
	color: white;
	width: 445px;
	padding-top: 10px;
	margin-bottom:30px;
}

.dff:before{
	content: "";
	width: 90px;
	height: 6px;
	display:inline-block;
	background: #C8A35F;
	margin-bottom:30px;
}

.pepe{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	height: 100%;
	padding: 0px 405px;

}

.pepe button{
	background-color:#C8A35F;
	border:none;
	width: 220px;
	height: 55px;
	color: white;
}

.buttons{
	display: flex;
		justify-content: space-between;
		flex-direction: column;
	height: 274px;
}

.buttons button {
	background: none;border :none;
	display: flex;
	align-items: center;
	color:#C8A35F;
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	justify-content: space-between;
}

.buttons button:active{
	background-color: #666;
	border-color: #C8A35F;
}

.airss{
	height:1200px;
	width: 100%;
}

.popuga{
	width: 410px;
	height: 480px;
	background: #393F47;
}

.pcont {
    z-index: -1;
    width: 100%;
    position: absolute;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
            justify-content: center;
    margin-top: 100px;
}

.usluga {
	margin-bottom: 1px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 276px;
	height: 180px;
	background: #393F47;
	padding: 35px 0;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-align-content: center;
	        align-content: center;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.utitle {
	text-transform: uppercase;
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFF;
}

.uair {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-align-content: center;
	        align-content: center;
	-webkit-justify-content: center;
	        justify-content: center;
}

.uair svg {
	fill: #fff;
}

.uact {
	background: #C8A35F;
}
.airact {
	background: #FFF;
}
.airact svg {
	fill: black !important;
}
.airs {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	    -webkit-flex-wrap: wrap;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
	    -webkit-justify-content: space-between;
	            justify-content: space-between;
	    width: 1108px;
	    margin: auto;
	    margin-top: 35px;
}

.assa{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: white;
width: 445px;
margin-left: 405px;
margin-top: 80px;

}

.assa:before{
	content: "";
	width: 90px;
	height: 6px;
	display:inline-block;
	background: #C8A35F;
	margin-bottom: 40px;
}

.text2{
	color:white;
}

.text2 p {
	width: 445px;
	margin-top: 30px;
}

.kappa{display: flex;
		justify-content: space-between;
			align-items: center;
			padding: 0 405px;
}

.box{
	height: 160px;
	width: 200px;
	background-color: white;
	margin: 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.forbox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:606px; 
	margin-top: 200px;
}

.slavay{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: white;
width: 445px;
margin-top: 80px;
}

.slavay:before{
	content: "";
	width: 90px;
	height: 6px;
	display:inline-block;
	background: #C8A35F;
	margin-bottom: 40px;}




.maps1{
	height: 100%;
	margin-bottom: -5px;
}

.maps1 img{
		width: 100%;
}

.s1{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #2F343A;
}

.s2{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.05em;
color: #000000;
}

.s3{font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #000000;
}

footer{
	width: 100%;
	height: 161px;
	background: #C8A35F;
	color:white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center; 
}

.rara{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.adres{
	margin-left: 30px;
}

footer a {color: black;
	text-decoration: none;
}

